version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: ultrarslanoglu-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ultrarslanoglu2025
      MONGO_INITDB_DATABASE: ultrarslanoglu
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

  redis:
    image: redis:7-alpine
    container_name: ultrarslanoglu-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongodb_data:
  mongodb_config:
  redis_data:
